# Node logs
npm-debug.log
yarn-error.log

# Dependencies
node_modules/

# Build folder
dist/
build/

# IDE config
.vscode/
.idea/

# OS metadata
.DS_Store

# Environments
.env
.env.*
!.env.example
convex.json

# Python
__pycache__/
.venv/
venv/
*.pyc

# Database
*.sqlite
*.db

# Docs and Notes
*.md
!README.md
!LICENSE*
